@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to CSE ClubHouse!</h1>
    <br />
    <!--
        #1 Home Page
        #2 News Section
        #3 Event Section
        #4 Search in UserRoles
    -->
    <p>We have information about our club, our members, and what we do.</p>
</div>
<br />
<div class="row">
    <div class="col-6">
        <div>
            The CSE Clubhouse at CSE department of CSPIT and University of CHARUSAT offer a range of services and opportunities to students foro fairer competition, free and open exchange of ideas, and taking part in the coursing and research communities.
        </div>
        <hr />
        <div>
            CSE Department clubs offers students the opportunity to be involved in activities and learn outside their academic coursework. Students can join clubs to learn leadership skills, network with others in their field, and learn more about their field of study.
        </div>
        <hr />
        <div>
            The department of Computer Science and Engineering (CSE) at CSPIT, CHARUSAT, established in year 2020, aims to provide quality education in the field of Computer Science and Engineering. The department offers B.Tech, M.Tech and Ph.D. programs in Computer Science and Engineering. The department has state-of-the-art laboratories, dedicated computing and other resources. Department has highly experienced, dedicated, and committed faculty members, who provide excellent teaching and mentoring. The department has strong research and development activities in various areas of Computer Science and Engineering.
        </div>
    </div>
    <div class="col-6">
        <div class="text-center">
            <img src="/CHARUSAT Logo.png" class="img-fluid mt-5" />
            <img src="/CSPIT Logo.png" class="img-fluid mt-5" />
        </div>
    </div>
</div>
<hr />
<div class="fst-italic small">
    Clubhouse website is for our CSE department clubs to post their events and announcements.
The website is a work in progress. Currently, there is basic information for each club posted on their individual pages. In the future, we plan on adding a calendar of events, as well as a news feed.
</div>